In [1]:
from tables import *

In [2]:
Base.metadata.create_all(engine)

In [4]:
new_user = User(name='jhon', fullname='John Doe')
with Session() as session:
    session.add(new_user)
    session.commit()

In [5]:
sql_query = '''
SELECT * 
FROM users;
'''
df = pd.read_sql(sql_query, engine)

df.head()

   id   name  fullname
0   1  maria  John Doe
1   2   jhon  John Doe